
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: white; */
    
     }
/* loader css */
.loaderLayout{
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 
  /* home page display */
  .Homelayout{
    display: flex;
    flex-direction: column;
  text-align: center;
  /* justify-content: center; */
  }

  .homeBackground{
    /* background-color: black; */
  /* background-image: url(https://images.unsplash.com/photo-1614620026694-f5f38182ab9f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80);
  height: 100%; */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-color: #f5f5f5; */

}
.nodiv{
  position: relative;
  top: -1rem;
  /* background-color: black; */
  border-radius: 50%;
  padding:0 6px 0 6px;
  right: 8px;
}
.navIcon{
  position: relative;
  height: 2rem;
  border-radius: 1rem;
}
 .homeWallpaper{
  background-image: url(https://images.unsplash.com/photo-1463320726281-696a485928c7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  border-radius: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 90%; */
  /* margin-left: 5rem; */
  height: 45vh;
  width: 80%;
/* opacity: 0.8; */
 margin-top: 1rem;
  
  }
  .Hometitle{
  padding: 1rem;
  font-size: 4rem;
  font-weight: bold;  
  color: white;
  text-shadow: 0 0 3px gray, 0 0 10px black 
}

  .ExploreButton{
    cursor: pointer;
    font-weight: bold;
    /* background-color: transparent; */
  
    height: 4rem;
    
    border-radius: 1rem;
    font-size: 25px;
    width: 8rem;
    
  }
  
  .ExploreButton:hover{
   background-color:white;
   transform: translateY(-4px);
  box-shadow: 0 5px #666;
   
  }


 .categoriesItem{
    
  padding: 1.5rem;
  border: 1px solid black;
 }

 .categoriesItem{
  /* text-transform:; */
  width: 200px;
  height: 200px;
  padding: 15px 25px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #0994ad;
    border: none;
    border-radius: 50%;
    box-shadow: 0 9px #999;
  }
 .wishlistIcon{
  position: relative;
  top: -13.9rem;
  left:180px;
  cursor: pointer;
  background: color #f5f5f5; ;
  width: 3rem;
 }
 
 .categoriesItem:hover {background-color: #66b9e5}
 .categoriesItem:active {
  background-color: #51b9c5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);}

  .storeDisplay{
    display: flex;
  }
  /* navbar   */
  .navbar{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color:#9395d3;
    margin-bottom: 1rem;
  } 
 .NavSearch{
  
  padding: 0.5rem;
  width: 18rem;
  border-radius: 1rem;

 }
  .navItem{
    text-decoration: none;
    /* padding: 1rem; */
    margin-right: 15px;
    font-size: 20px;
    color: white;
    background-color:#9395d3;
  }
  .sideLayoutSideFilter{
    /* width: 80rem; */
    /* height: 66vh; */
    position: relative;
   margin: 0;
   width: 98%;
background-color: gainsboro;

  }
  .sidefilterDisplay{
    /* position: relative; */
    /* margin: 0.5rem 1rem 0.5rem 1rem  ;  */
    padding: 1rem;
    /* width: 15%; */
    /* border-right: 2px solid black; */
    
  }

   .filterDisplay{
    position: relative;
    margin: 0.5rem 1rem 0.5rem 1rem  ; 
    padding: 1rem;
    width: 15%;
    border-right: 2px solid black;
    
  }


  .filterHeading{
    padding: 1rem 0 0 0 ;
    font-weight: bold;
  }
  /* Product List  */
  .itemDisplay{
   
    display: flex;
   list-style: none;
   text-align: center;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
  }
  
  .booksDisplay{
   width: 90%;
   
  }
  .cartButtonDiv{
    justify-content: flex-end;
  }
  .cartButton{
    width: 100%;
    padding: 1rem;
    font-size: 20px;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    align-self: flex-end;
    color: white;

  /* position: relative; */
  bottom: 1rem;
  }
  .cartButton{
    text-decoration: none;
    background-color:#6a6db9;
  }
  
  .cartButton:hover{
    background-color:#8a8df3;
  }
  .accountDetails{
    display: flex;
    text-align: center;
    justify-content: flex-start;
    padding: 0.3rem;
  }
  
  .itemDisplayCard{
    /* border: 1px solid; */
    width: 35vh;
    
    
    padding: 1.3rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 1px 2px 0 grey, 0 1.5px 5px 0 grey;
    color: black;
   
  }
  
  .itemDisplayCard:hover{
    box-shadow: 0 2px 4px 0 black, 0 3px 10px 0 black;
  
  }
  
  .displayCardTitle , .displayCardAuthor, .displayCardPrice, .displayCardCategory, .displayCardRating,.displayCardActualPrice,.displayCardDiscount,.displayCardCrossPrice {
    margin: 0;
    padding: 0;
  }
  
  
  .displayCardActualPrice,.displayCardDiscount,.displayCardCrossPrice,.displayCardPrice{
    margin-right: 0.5rem;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0;
  }
  .displayCardPrice{
    font-size: 17px;
    position: relative;
    bottom: 2px;
  
  }
  .displayCardActualPrice{
    position: relative;
    font-size: 13px;
  }
  .displayCardCrossPrice{
    transform: rotate(90deg);
    font-size: 1.2rem;
    bottom: 0.2rem;
    right: 1.2rem;
    margin: 0;
    padding: 0;
    position:relative ;
    font-weight: lighter;
  }
  
  .displayCardAuthor{
    display: flex;
    color:black;
    font-size: 13px;
    align-items: flex-start;
  }
  
  .displayCardTitle{
    align-self: center;
  }
  
  .titleAndRating{
    display: flex;
    justify-content: space-between;
   }
  
  .displayCardRating{
    justify-self: flex-end;
    background-color: rgb(13, 206, 13);
    border: 1px solid black;
    width: 2.5rem;
    padding: 0.1mm;
   font-size: 15px;
    height: 22px;
    border-radius: 0.8rem;
    color: black;
  }
  
 /* auth page css   */
  .AuthFormLayout{
    background-color:black;
    color: white;
    opacity: 0.9;
    width: 27rem;
    border: 1px solid black;
    padding: 10px;
 
     border-radius: 1rem;
  }
 .AuthForm{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
 }
 .AuthWallpaper{
  width: 25rem;
  border: 1px solid;
  border-radius: 1rem;
  background-image: url(https://media.giphy.com/media/WoWm8YzFQJg5i/giphy.gif);
  
}

.AuthWallpaper2{
  width: 30%;
  border: 1px solid;
  border-radius: 1rem;
  background-image: url(https://media.giphy.com/media/3ogwFMmWP1yj9vx4qs/giphy.gif);
  

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
.AuthForminput{
  background-color: white;
  padding: 0.3rem ;
  border-radius: 0.5rem;
 
}
.AuthFormButton3 {
 cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  font-size: 15px;
  background-color: #9395d3;
  width: 90%;
}
.AuthFormButton1 {
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  font-size: 15px;
  background-color: #9395d3;
  width: 40%;
}
.AuthFormButton2{
  cursor: pointer;
  background-color: #d3ad93;
  padding: 1rem;
  margin: 1rem;
  font-size: 15px;
  width: 40%;
}

/* single page layout */

.singlePageLayout{
  margin: 1rem;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
  border-radius: 1rem;
    
  /* position: absolute; */
  
  padding: 10px;
}

.singlePageLayoutCard{
  display: flex;
  flex-wrap: wrap;
}
.singlePageLayoutImage{
  padding: 1.5rem;
}

/* cart page css */

.imageCartDisplay{
  padding: 1rem;
  }
  
  .CartitemDisplayCard{
  
  padding: 1.3rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px 0 gray, 0 3px 10px 0 gray;;
    color: black;
  }
  .cartButton{
    width: 12rem;
    padding: 0.5rem;
  }
  .CartBillButton, .CartBillButton1{
    width: 9rem;
    padding: 0.5rem;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
    margin: 0.5rem;
  }
  .CartBillButton1:hover , .CartBillButton:hover{
    font-weight: bold;
  }
  .explorebtn{
    text-decoration: none;
    margin: 0.5rem;
    background-color: #3498db;
   padding: 0.5rem;
   border-radius: 1rem;
   color: white;
   cursor: pointer;
  }

  .explorebtn:hover{
    color: #3498db;
    background-color: white;
    border: 1px solid black;
  }

  .CartBillButton{
    background-color: rgb(181, 109, 233);
    color: white;
  }
  .CartBillButton1{
    font-size: 18px;
   background-color: rgb(251, 128, 107);
  }

  .btnCart{
    margin: 0 7px 5px 7px;
  font-size: 20px;
  
  
  height: 20%;
  width: 15%;
  align-self:center;
  }
  

.billLayout{
  border: 1px solid black;
  width: 40vh;
  padding: 1.5rem;
}

.PriceDetails{
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 1rem;
  font-weight: bold;
}

.cartBillitemDisplay{
  list-style: none;
  display: flex-column;
}

.billLayoutCoupon,.billLayoutPrice,.billLayouttotalBill,.billLayoutCoupon,.billLayoutDelivery{
  display: flex;
  justify-content: space-between;
 text-transform: capitalize;
}
.billLayouttotalBill{
  border-top: 1px solid black;
  padding-top: 0.5rem;
  
}
.BtnMobileNavICon{
  opacity: 0;
  position: relative;
  padding: 0 0.5rem 0 0.5rem;
}

.BtnMobileNavICon:active{
  background-color: #8a8df3;
}
.AddAddressDiv{
  position: fixed;
  width: 300px;
  height: 300px;
  padding: 10px;
  border: 3px solid #9395d3;
  background-color: #e8e8eb;
  top: 31%;
  left: 58%;
  margin-top: -100px;
  margin-left: -250px;
}

.MobileNavICon div {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  opacity: 0;

}

.billButton{
 background-color: #5acbd8;
 padding: 0.5rem 1rem;
 margin: 0.5rem; 
 border: 1px solid black;
 border-radius: 1rem;
 cursor: pointer;
}
.billButton:hover{
  font-weight:bold ;
  color: #f3f3f3;;
}
.ProfileButtonSummary{
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: large;
  border: 1px solid #6a6db9;
  background-color: #8a8df3;
cursor: pointer;
margin-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) { 


.filterDisplay{
  opacity: 0;
 width: 0;
 padding: 0;
 margin: 12px;
}
.BtnMobileNavICon , .MobileNavICon div {
  opacity: 1;
cursor: pointer;
}
.wishlistIcon{
  left: 10.5rem;
}
.AddAddressDiv{
  top: 43%;
  left: 75%;
}
}